// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// hard code visited links colour
.visited-links-override a:visited,
.nhsuk-action-link__link:visited {
    color: $color_nhsuk-blue !important;
}


@media (min-width:48.0625em) {
  .nhsuk-footer__list--three-columns {
   -moz-column-count:3;
   -moz-column-gap:24px;
   -webkit-column-count:3;
   -webkit-column-gap:24px;
   column-count:3;
   column-gap:24px
  }
  .nhsuk-footer__list--three-columns li {
   float:none
  }
 }

 .beta-breadcrumb {
  background-color: transparent;
  padding-bottom: 16px;
  padding-top: 20px;
}

// New mobile search design

@media (max-width: 40.0525em) {
  .beta-header__search-form {
      padding: 0 16px 17px;
      position:relative
  }

  .beta-header__search-wrap::after {
      background: #005eb8;
      content: ' ';
      height: 57px;
      left: -16px;
      position: absolute;
      width:calc(100% + 32px)
  }

  .beta-search__submit {
      background-color: #f0f4f5;
      border: 0;
      height: 40px;
      z-index:1
  }

  .beta-search__submit .beta-icon__search {
      fill: #005eb8;
      height: 27px;
      width:27px
  }

  .beta-search__submit:hover {
      background-color: #003d78;
      border:1px solid #fff
  }

  .beta-search__submit:hover .nhsuk-icon {
      fill:#fff
  }

  .nhsuk-header__menu-toggle {
      right:0
  }

  .autocomplete__menu {
      background-color: transparent;
      top:13px
  }

  .autocomplete__input, .nhsuk-search__input {
      border: 1px solid #fff;
      height:40px
  }

  .autocomplete-container {
      z-index:2
  }
}

@media (min-width: 48.0625em) {
  .nhsuk-header__navigation {
      max-width:960px
  }
}

/* cookie policy */
td[data-label="Cookie name"] {
    word-break: break-all;
}

@media (max-width: 48.0525em) {
    .nhsuk-table-responsive--cookies td::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
        word-break: normal;
    }
}

.nhsuk-review-date {
    margin-top: 40px;
    color: #4c6272;
}

.beta-hub-main-topic .beta-hub-arrow {
    display: block;
    margin-top: -8px;
    position: absolute;
    right: 24px;
    top: 50%;
}



.beta-icon__chevron-right-circle {
    fill: #005eb8;
}

.nhsuk-icon {
    height: 34px;
    width: 34px;
}


.nhsuk-card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

.beta-hub-main-topic .beta-card__content {
    padding-right: 75px;
}


.beta-hub-key-links {
    list-style-type: none;
    margin: 0;
    padding: 1.125em 0;
}

.beta-hub-related-links-title {
    margin-bottom: 0;
}



@media (min-width: 40.0625em) {
.beta-hub-border-top {
    padding-top: 48px;
}
}

.beta-hub-border-top {
    border-top: 4px solid rgba(204,204,204,.5);
    padding-top: 40px;
}

@media (min-width: 40.0625em) {
.nhsuk-u-margin-top-6 {
    margin-top: 40px!important;
}
}

@media (min-width: 40.0625em) {
.beta-hub-related-links {
    padding-top: 16px;
}
}


.beta-hub-related-links {
    padding-top: 8px;
    list-style-type: none;
    padding-left: 0;
}



@media (min-width: 40.0625em) {
.beta-hub-related-links__list-item {
    padding-bottom: 16px;
}
}


@media (min-width: 40.0625em) {
.beta-hub-after-key-links>h2, .beta-hub-bottom-content>h2, .beta-hub-key-links__list-item, .nhsuk-heading-s, h4 {
    margin-bottom: 24px;
}
}

@media (min-width: 40.0625em) {
.beta-hub-after-key-links>h2, .beta-hub-bottom-content>h2, .beta-hub-key-links__list-item, .nhsuk-heading-s, h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.45455;
}
}

.beta-hub-after-key-links>h2, .beta-hub-bottom-content>h2, .beta-hub-key-links__list-item, .nhsuk-heading-s, h4 {
    display: block;
    font-weight: 600;
    margin-top: 0;
}
