{% extends 'layout-v2.html' %}

{% set version = "v6" %}
{% set backLink = "" %}
{% set heading = "Cookie policy" %}

{% block pageTitle %}
  {{ serviceName }} - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <h2>What are cookies</h2>

      <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>

      <p>They store information about how you use the website. Some of them can be turned on and off.</p>

      <h2>How we use cookies</h2>

      <p>We use cookies to:</p>

      <ul>
        <li>make our website work</li>
        <li>measure how you use our website, such as which links you click on (analytics cookies), if you give us permission</li>
      </ul>

      <h2>Cookies that make our website work</h2>

      <p>We use cookies to keep our website secure and fast.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            List of cookies that make our website work
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <div class="nhsuk-table-responsive nhsuk-table-responsive--cookies">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Cookie names and purposes</caption>
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row" role="row">
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">AspNetCore.Antiforgery</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Encrypted session cookie. Helps protect the website from attacks.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">.AspNetCore.Mvc.CookieTempDataProvider</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Encrypted session cookies. Temporarily stores the values you enter, including personal information, before submission.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">nhsuk-cookie-consent</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Remembers if you used our cookies banner</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser (if you do not use the banner) or 1 year (if you use the banner)</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">.NHS.VaccineCertification.Cookie</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Session timeout tracking cookie. Allows us to present you with a convenience notification when your session is about to expire.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </details>

      <h2>Cookies that measure website use</h2>

      <p>We also like to use analytics cookies. These cookies store anonymous information about how you use our website, such as which pages you visit or what you click on.</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            List of cookies that measure website use
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <div class="nhsuk-table-responsive nhsuk-table-responsive--cookies">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Cookie names and purposes</caption>
              <thead class="nhsuk-table__head">
                <tr class="nhsuk-table__row" role="row">
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                  <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjAbsoluteSessionInProgress</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Detects your first pageview session.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">30 mins</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjFirstSeen</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Identifies your first session.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjid</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Sets a unique ID for your session to help tell us how you use our site.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 year</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjIncludedInPageviewSample</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Says if you're included in the current sample for collecting information about how you use our site.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">30 mins</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjIncludedInSessionSample</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Says if you're included in the current sample for collecting information about how you use our site.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">30 mins</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_hjTLDTest</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Hotjar. Determines the most generic cookie path to use instead of the page hostname. This is so that cookies can be shared across subdomains (where applicable).</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">AMCV_#</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Tells us if you've used our site before.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">AMCVS_#AdobeOrg</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Tells us how you use our site.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">com.adobe.reactor.dataElementCookiesMigrated</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Includes data elements set to capture usage of our website.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">No expiry</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">demdex</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Allows cross-domain analytics of NHS properties.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">180 days</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">s_cc</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Checks if cookies work in your web browser.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">s_getNewRepeat</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Tells us if you've used our website before.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">30 days</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">s_ppn</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Tells us how you use our website by reading the previous page you visited.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 day</td>
                </tr>
                <tr class="nhsuk-table__row" role="row">
                  <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">s_sq</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Adobe Analytics. Remembers the last link you clicked on.</td>
                  <td class="nhsuk-table__cell" role="cell" data-label="Expiry">When you close the browser</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </details>

      <div class="nhsuk-u-reading-width">
        <p>We'll only use these cookies if you say it's OK. We'll use a cookie to save your settings.</p>

        <h3>Tell us if we can use analytics cookies</h3>
        <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
          <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
              <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
                Use cookies to measure my website use
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
                Do not use cookies to measure my website use
              </label>
            </div>
          </div>
        </fieldset>

        <a href="/{{ version }}/cookie-confirmation" id="save-cookie" type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">
          Save my cookie settings
        </a>

      </div>

    </div>
  </div>

  <script>
    // Check the checkboxes based on status of cookie preferences
    window.addEventListener("load", function checkCookie() {
      document.getElementById("input-statistics-1").checked = NHSCookieConsent.getStatistics();
      document.getElementById("input-statistics-2").checked = !NHSCookieConsent.getStatistics();
    });

    // Edit consent preferences based on checkbox input
    function changeConsent() {
      NHSCookieConsent.setStatistics(document.getElementById("input-statistics-1").checked);

      if (typeof NHSCookieConsent.setConsented === "function") {
        NHSCookieConsent.setConsented(true);
      }
    }

    const el = document.getElementById("save-cookie");
    el.addEventListener("click", changeConsent);
  </script>
{% endblock %}
