{% extends 'layout-nhsuk.html' %}

{% set version = "v6" %}
{% set backLink = "" %}
{% set heading = "Get your NHS COVID Pass letter" %}

{% block pageTitle %}
  {{ serviceName }} - NHS
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/",
        text: "Health A to Z"
      },
      {
        href: "covid-hub",
        text: "Coronavirus (COVID-19)"
      }
    ],
    classes: "beta-breadcrumb",
    href: "covid-pass-hub",
    text: "NHS COVID Pass"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>
      <p>Use this service to get a letter showing your coronavirus (COVID-19) vaccination status.</p>
      <p>You can use this letter if you're travelling abroad, or going to an event, and need proof you've had your COVID-19 vaccination.</p>
      <p>If you're going to an event, you'll need to wait 2 weeks after you've been fully vaccinated before you can use this letter.</p>


      <h2>Who can use this service</h2>
      <p>You can use this service if the following apply:</p>

      <ul>
        <li>you’re fully vaccinated with a COVID-19 vaccine used in the UK</li>
        <li>you had your vaccination in England</li>
        <li>you’re aged 18 or over</li>
      </ul>

      <p>You can ask for a letter after having your 2nd dose of the vaccine, or after a single-dose Janssen vaccine. You may need to wait 5 working days so your record will be up to date.</p>
      <p>You do not need to use this service if you were vaccinated as part of an official clinical trial in England. You should have received a letter saying that your COVID-19 status is "fully vaccinated".</p>

      <h2>Before you start</h2>
      <p>We will ask you some questions, so we can find your vaccination record.</p>
      <p>If we can find your vaccination record, we will send you a letter to the address you have registered with your GP surgery.</p>
      <p>You should get this letter within 5 working days.</p>
      <p>Check the details your GP surgery has for you are up to date. Or you can <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">register with a GP surgery</a> if you do not have one.</p>

      <a href="/{{ version }}/do-you-know-nhs-number" class="nhsuk-button">
        Start now
      </a>

      <p>By using this service you're agreeing to our <a href="">terms of use</a> and <a href="">privacy policy</a>.</p>


      <h2>Other ways to get your NHS COVID Pass</h2>


      <p>You can get a digital version of your NHS COVID Pass by:</p>

      <ul>
        <li><a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/">downloading the NHS App</a></li>
        <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/vaccination-status-for-travelling-abroad/">using the online COVID Pass service</a></li>
      </ul>

      <p>You need to have an NHS login for this.</p><p>Or you can call 119 to get a letter sent to you if you cannot get a letter online.</p>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <h2>Vaccination status in other parts of the UK</h2>
        <ul>
          <li><a href="https://www.nhsinform.scot/covid-19-vaccine/after-your-vaccine/get-a-record-of-your-coronavirus-covid-19-vaccination-status">Scotland – NHS Inform: Get a record of your COVID-19 vaccination status</a></li>
          <li><a href="https://gov.wales/demonstrating-your-covid-19-vaccination-status-when-travelling-abroad">Wales – Welsh Government: Get the NHS COVID Pass to show your vaccination status for travel</a></li>
          <li><a href="https://www.nidirect.gov.uk/articles/get-covid-19-vaccination-northern-ireland">Northern Ireland – nidirect: Get a COVID-19 vaccination in Northern Ireland</a></li>
        </iul>
      </div>



    <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">
      Page last reviewed: 8 July 2021
      <br>
      Next review due: 22 July 2021
    </p>
  </div>


    </div>
  </div>
{% endblock %}
